<nav>
    <ul class="nav-links">
        <li><a href="#">Home</a></li>
        <li><a href="#">Custom</a></li>
        <li><a href="#">Sedan</a></li>
        <li><a href="#">SUV</a></li>
        <li><a href="#">Truck</a></li>
    </ul>
    <div class="hamburger">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
      </div>
</nav>