<h1>Welcome to CSE Motors</h1>

<section class="hero">
    <img src="../images/site/hero-image.png" alt="Hero image">
    <div class="hero-overlay">
      <h1>DMC Delorean</h1>
      <p>3 Cups holder<br/>Superman doors<br/>Fuzzy dice!</p>
      <a href="#" class="cta-button">Own Today</a>
    </div>
</section>

<section class="two-columns">
    <div class="column-left">
      <h2>Delorean Upgrades</h2>
        <div class="two-columns1">
            <div class="column-left1">
                <div class="card-box">
                    <img src="../images/upgrades/flux-cap.png" alt="flux cap">
                </div>
                <a href="#">Flux capacitor</a>
            </div>
            <div class="column-right1">
                <div class="card-box">
                    <img src="../images/upgrades/flame.jpg" alt="flames">
                </div>
                <a href="#">Flame Decals</a>
            </div>
        </div>

        <div class="two-columns1">
            <div class="column-left1">
                <div class="card-box">
                    <img src="../images/upgrades/bumper_sticker.jpg" alt="bumper sticker">
                </div>
                <a href="#">Bumper Stickers</a>
            </div>
            <div class="column-right1">
                <div class="card-box">
                    <img src="../images/upgrades/hub-cap.jpg" alt="hub-cap">
                </div>
                <a href="#">Hub caps</a>
            </div>
        </div>
    </div>
    <div class="column-right">
        <h2>DMC delorean Reviews</h2>
        <ul>
            <li>"So fast it's almost like traveling in time." (4/5)</li>
            <li>"Coolest ride on the road." (4/5)</li>
            <li>"I'm feeling McFly!" (5/5)</li>
            <li>"The most futuristic ride of our day." (4.5/5)</li>
            <li>"80's livin and I love it!" (5/5)</li>
         </ul>
    </div>
</section>
  