<h1>Welcome to CSE Motors</h1>

<section class="hero">
    <div class="hero-overlay">
      <h2>Get 20% off your first purchase</h2>
      <p>Sign up for our newsletter and get a discount on your first order.</p>
      <a href="#" class="cta-button">Sign up</a>
    </div>
    <img src="../images/site/hero-image.png" alt="Hero image">
  </section>
  