<!-- Content Heading -->



    <form class="classificationForm forms" action="/inv/add-classification" method="post">
        <% if (title) { %>
            <h1>
                <%= title %>
            </h1>
            <% } else { res.redirect('/') } %>
            
            <%- messages() %>
            
            <% if (errors) { %>
            <ul class="notice">
                <% errors.array().forEach(error=> { %>
                <li>
                    <%= error.msg %>
                </li>
                <% }) %>
            </ul>
            <% } %>
        <p>*** FIELD IS REQUIRED ***</p>
        <p>*** NAME MUST BE ALPHABETIC CHARACTERS ONLY ***</p>
        <div id="classificationFormDiv">
            <label for="classification_name">Classification Name: </label>
            <input type="text" id="classification_name" name="classification_name" required
                value="<%= locals.classification_name %>" pattern="^[a-zA-Z]*$" class="classification-input">
        </div>
        <input class="classification-button" type="submit" value="Add Classification">
    </form>