<div class="login-container"
<!-- Content Heading -->
<% if (title) { %>
    <h1>
        <%= title %>
    </h1>
    <% } else { res.redirect('/') } %>
    
    <!-- Message 
    (#) disables the code
    (-) replaces with unescape mark when ready to use 
    -->
    <%- messages() %>

    <ul id="vehicleManagementList" class="add-new">
        <li><a href="/inv/add-classification">Add New Classification</a></li>
        <li><a href="/inv/add-inventory">Add New Vehicle</a></li>
    </ul>
    
    <div class="manageInv">
        <h2>Manage Inventory</h2>
        <p>Choose a classification to see those inventory items.</p>
        <select name="classificationList" id="classificationList" class="select"><%- classificationSelect %></select>
    
        <table id="inventoryDisplay"></table>
    
        <noscript>JavaScript must be enabled to use this page.</noscript>
    
        <script src="../../js/inventory.js"></script>
    </div>
</div>